*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,h2{
    text-align: center;
}
.game-display{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results{
    display: flex;
    width: 500px;
    justify-content: space-around;
}
.selection{
    width: 500px;
    height: 250px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.player-selection,.computer-selection{
    background-color: aliceblue;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
#player-choice , #computer-choice{
    width: 150px;
    height: 100px;
    background-color: bisque;
}
.choose-selection{
    margin-top: 10px;
}
.choose-selection button{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 20px;
}
.choose-selection button:hover{
    background-color: rgba(0, 0, 0, 0.279);
}

dialog{
    padding: 100px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    background-image: linear-gradient(45deg,red,purple);
    color: white;
}
#modal::backdrop{
    background-image: linear-gradient(45deg,red,purple);
    opacity: 0.6;
}

.notify{
    height: 100px;
    width: 500px;
    background-color: aqua;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
}