/* fonts */
@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-300-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  
  }
  
@font-face {
  font-family: 'roboto';
  src: url(/fonts/roboto-thin-webfont.woff2);
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
  
  
  @font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-500-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  
  }
  
  
  
  
  @font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-700-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  
  }
  @font-face {
    font-family: 'raleway';
    src: url('/fonts/raleway-500-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  
  }
  
  
  
  
  @font-face {
    font-family: 'raleway';
    src: url('/fonts/raleway-600-webfont.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'raleway';
    src: url('/fonts/raleway-700-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  
  }
  
  /* fonts end */
  :root{
      --charecter-color: #CAE9EA;
      --gradient-right: linear-gradient(to right, #CAE9EA, #208C8C);
      --gradient-left: linear-gradient(to left, #CAE9EA,#208C8C);
      --secondary-color: #208C8C ;
      --background-color: #100F0F;
      --background-color2: black;
      --border-color-cards: rgba(71,71,71,50%);
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Roboto",system-ui;
  }

body{
    background-color: var(--background-color);
}


.hero-heading{
  font-size: 28px;
}

h1,h2{
    text-align: center;
    color: var(--charecter-color);
}
.game-display{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results{
    display: flex;
    width: 500px;
    justify-content: space-around;
}
.selection{
    width: 500px;
    height: 250px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.player-selection,.computer-selection{
    background-color: var(--charecter-color);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
#player-choice , #computer-choice{
    width: 150px;
    height: 100px;
}
.choose-selection{
    margin-top: 10px;
}
.choose-selection button{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: var(--border-color-cards);
    border: 2px solid var(--secondary-color);
    color: var(--charecter-color);
}
.choose-selection button:hover{
    background-color: var(--border-color-cards);
}

dialog{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 100px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    background-image: linear-gradient(45deg,var(--charecter-color),var(--secondary-color));
    color: white;
}
#modal::backdrop{
    background-image: linear-gradient(45deg,var(--charecter-color),var(--secondary-color));
    opacity: 0.1;
}

.notify{
    
    border-radius: 20px;
    height: 100px;
    width: 500px;
    border: 2px solid var(--secondary-color);
    background-color: var(--border-color-cards);
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    color: var(--charecter-color);
}
.rock , .paper , .scissor{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    background-repeat: no-repeat;
}
.rock{
    background-image: url(imgs/rock.svg);
}
.paper{
    background-image: url(imgs/paper.svg);
}
.scissor{
    background-image: url(imgs/scissor.svg);
}


/* footer */


  .copyright-box{
    background-color: var(--background-color2);
    border-top:solid 3px var(--border-color-cards);
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    
  }
  .copy{
    color: var(--charecter-color);
    display: flex;
    align-items: center;
    
  }
  .copy p{
    font-size: 22px;
    font-weight: 300;
    display: inline;
  }
  .copy h2{
    font-size: 22px;
    display: inline;
    font-family: "Raleway";
  }
  .copy span{
    font-size: 24px;
  }
  