/* fonts */
@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-300-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  
  }
  
  
  
  
  @font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-500-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  
  }
  
  
  
  
  @font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-700-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  
  }
  @font-face {
    font-family: 'raleway';
    src: url('/fonts/raleway-500-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  
  }
  
  
  
  
  @font-face {
    font-family: 'raleway';
    src: url('/fonts/raleway-600-webfont.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'raleway';
    src: url('/fonts/raleway-700-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  
  }
  
  /* fonts end */
  :root{
      --charecter-color: #CAE9EA;
      --gradient-right: linear-gradient(to right, #CAE9EA, #208C8C);
      --gradient-left: linear-gradient(to left, #CAE9EA,#208C8C);
      --secondary-color: #208C8C ;
      --background-color: #100F0F;
      --background-color2: black;
      --border-color-cards: rgba(71,71,71,50%);
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Roboto",system-ui;
  }

body{
    background-color: var(--background-color);
}
/* Nav bar */
/* navbar */

header{
    padding-top: 5px;
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
  }
  .heading{
    padding-left: 50px;
    font-family: "Raleway" , "tahoma" ,system-ui;
    font-size: 36px;
    font-weight: 600;
    color: var(--charecter-color);
  }
  li.active{
    text-decoration: underline;
    text-underline-offset: 10px;
    color: var(--charecter-color);
  }

  header ul li{
    display: inline-block;
    position: relative;
    padding: 10px 20px 10px 20px;
  }
  header ul li:hover{
    text-decoration-line: underline;
    text-underline-offset: 10px ;
    color: var(--charecter-color);
  }
  nav li a{
    color: var(--charecter-color);
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: 200;
    
  }
  .right-nav{
    display: flex;
    flex-direction: row;
    padding-right: 50px;
  }
  .right-nav span{
    padding: 0px 20px 0px 20px;
  }
  .search{
    order: -1;
  }
  
  ul.drop-down{
    display: none;
    position: absolute;
    color: var(--charecter-color);
    width: 150px;
  }
  .drop-down li{
    font-family: roboto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    background-color: black;
    
  }
  .drop-down a{
    font-weight: 500;
    font-size: 16px;
  }
  header ul li:hover ul.drop-down{
    display: block;
  }
  .drop-down li:first-child{
    margin-top: 10px;
    /* to align to nested list to the navbar else its going inside the navbar */
  }
 /* nav end */

h1,h2{
    text-align: center;
    color: var(--charecter-color);
}
.game-display{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results{
    display: flex;
    width: 500px;
    justify-content: space-around;
}
.selection{
    width: 500px;
    height: 250px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.player-selection,.computer-selection{
    background-color: var(--charecter-color);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
#player-choice , #computer-choice{
    width: 150px;
    height: 100px;
}
.choose-selection{
    margin-top: 10px;
}
.choose-selection button{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: var(--border-color-cards);
    border: 2px solid var(--secondary-color);
    color: var(--charecter-color);
}
.choose-selection button:hover{
    background-color: var(--border-color-cards);
}

dialog{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 100px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    background-image: linear-gradient(45deg,var(--charecter-color),var(--secondary-color));
    color: white;
}
#modal::backdrop{
    background-image: linear-gradient(45deg,var(--charecter-color),var(--secondary-color));
    opacity: 0.1;
}

.notify{
    
    border-radius: 20px;
    height: 100px;
    width: 500px;
    border: 2px solid var(--secondary-color);
    background-color: var(--border-color-cards);
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    color: var(--charecter-color);
}
.rock , .paper , .scissor{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    background-repeat: no-repeat;
}
.rock{
    background-image: url(/imgs/rock.svg);
}
.paper{
    background-image: url(/imgs/paper.svg);
}
.scissor{
    background-image: url(/imgs/scissor.svg);
}


/* footer */

footer{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    color: var(--charecter-color);
    background-color: var(--background-color2);
  }
  footer h1{
    font-size: 48px;
    font-family: "Raleway";
  }
  .footer-section-two ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  .footer-section-two li{
    padding: 20px 0px;
  }
  .footer-section-two a{
    text-decoration: none;
    color: var(--charecter-color);
    font-size: 18px;
    font-weight: 600;
  }
  .footer-section-two a:hover{
    text-decoration: underline;
  }
  .footer-section-three{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer-section-three h2{
    font-size: 28px;
  }
  .footer-section-three ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .footer-section-three li:hover span{
    scale: 1.2;
  }
  .copyright-box{
    background-color: var(--background-color2);
    border-top:solid 3px var(--border-color-cards);
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    
  }
  .copy{
    color: var(--charecter-color);
    display: flex;
    align-items: center;
    
  }
  .copy p{
    font-size: 22px;
    font-weight: 300;
    display: inline;
  }
  .copy h2{
    font-size: 22px;
    display: inline;
    font-family: "Raleway";
  }
  .copy span{
    font-size: 24px;
  }
  